@import "tailwindcss";


@theme {
  /* --breakpoint-sm: 375px;
  --breakpoint-md: 768px; */

  --color-primary: #1C1C1E;

  /* Popular red /*
  /* --color-accent: #E50914;
  --color-secondary: #B00020; */
    /* --color-destructive: #DC2626 popular red */

    /* speedo blue */
  /* --color-accent: #0C5AA4;
  --color-secondary: #094881; 
  --color-highlight: #E9C46A;
  --color-muted: #6B7280;
  --color-background: #121212;
  --color-light: #F3F4F6; */
  /* --color-destructive: #0C5AA4;  */

 

  --color-accent:       #E9421E;   /* Red from logo and headings */
  --color-secondary:    #E3C152;   /* Darker yellow for section headers */
  --color-highlight:    #F6E1A3;   /* Light yellow highlight box */
  --color-muted:        #8B8470;   /* Muted/sides text */
  --color-background:   #FDF6E2;   /* Main background (beige/bone) */
  --color-light:        #FFFFFF;   /* True white for highlights, panda, etc. */
  --color-destructive:  #E9421E;   /* Same as accent (red) */
  --color-card-bg:      #F6E1A3;   /* Light yellow (same as highlight, for cards) */
  --color-card-border:  #E3C152;   /* Yellow border for boxes */
  --color-inactive:     #ADA28E;   /* Muted inactive nav, lighter muted */
  --color-skeleton:     #E3C152;   /* For skeleton loaders, use yellow */

  
  

  --font-family-sans: var(--font-inter), sans-serif;

  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;

  --border-radius-xl: 1rem;

  --box-shadow-card: 0 2px 8px rgba(0, 0, 0, 0.2);

  --spacing-18: 4.5rem;
}



html, body {
  font-family: var(--font-inter);
  font-size: 16px;
  color: #333;
   background: var(--color-background); 
   background-image: url('/solid.png');
   
  min-height: 100%;
  scroll-behavior: smooth !important;
  
}

a {
 
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 600;
  line-height: 1.2;
}

input:focus {
  outline: none;
  border-color: #d1d5db; /* Tailwind gray-300 */
  box-shadow: 0 0 0 3px rgba(209, 213, 219, 0.5);
}

.hide-scrollbar {
  scrollbar-width: none;            /* Firefox */
  -ms-overflow-style: none;         /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                    /* Chrome, Safari */
}